//--------------------------
// Mixins
//--------------------------
@mixin myclearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}