//--------------------
// Waticons
//--------------------

@font-face {
    font-family: 'waticon';
    src:url('../font/waticon/waticon.eot?d5e8xk');
    src:url('../font/waticon/waticon.eot?d5e8xk#iefix') format('embedded-opentype'),
        url('../font/waticon/waticon.ttf?d5e8xk') format('truetype'),
        url('../font/waticon/waticon.woff?d5e8xk') format('woff'),
        url('../font/waticon/waticon.svg?d5e8xk#waticon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="waticon-"], [class*=" waticon-"] {
    font-family: 'waticon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.waticon-delete:before {
	content: "\64";
}
.waticon-view:before {
	content: "\76";
}
.waticon-add:before {
	content: "\61";
}
.waticon-edit:before {
	content: "\65";
}
.waticon-cancel:before,
.waticon-no:before {
	content: "\6e";
}
.waticon-submit:before,
.waticon-yes:before {
	content: "\79";
}
