/*
#{$all-text-inputs},
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 140px;
    padding: 6px 12px;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $c-input-text;
    background-color: $c-input-background;
    background-image: none;
    border: 1px solid $c-input-border;
    border-radius: $input-radius;
    margin-right: $element-spacing;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

textarea {
    min-width: 400px;
    min-height: 200px;
}



.form-group {
    margin-bottom: $gap;
}

.group-label {

}

input[name*="date"] {
    width: 80px;
}


label {
    font-size: $base-font-size;
    width: 110px;
    display: inline-block;
    vertical-align: top;
}
*/
form {
    margin-bottom: $gap;
}


.form-control {
    @include box-sizing(border-box);
}

.form-control[disabled] {
    &.unmarked {
        background: none;
        border: none;
        box-shadow: none;
    }
}

select[size] {
    height: 34px;
}

select.form-control {
    height: 32px;
    width: auto;
}

.form-inline {
    .form-group {
        margin-right: $gap;
        &:last-of-type {
            margin-right: 0;
        }
    }
}
textarea {
    min-height: 200px;
    width: 100%;
}

textarea[name="notes"] {
    min-width: 500px;
    height: 82px;
    min-height: 82px;
}

.input-group .quantity,
input.quantity {
    width: 60px;
}

input.quantity-small {
    width: 75px;
}
input.price {
    width: 100px;
}

.currency-container {
    position: relative;
    .symbol {
        position: absolute;
        left: 9px;
        top: 6px;
        font-size: $f-size-l;
        z-index: 1;
        color: $c-text;
    }
    .currency {
        width: 98px;
        margin-left: 0;
        padding-left: 22px;
    }
}


.checkbox {
    margin: 0;
    label {
        display: block;
        width: auto;
        padding-bottom: 6px;
        &:last-child {
            padding-bottom: 0;
        }
    }
}


/*
.form-inline {
    label {
        width: auto;
        margin-right: $element-spacing;
    }
    #{$all-text-inputs},
    select,
    textarea {
        margin-right: 40px;
    }
    .form-group {
        margin-right: $gap;
        margin-bottom: $gap;
    }
}
*/
input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
    line-height: 19px;
}