//----------------------
// Table styling
//----------------------

table {
    margin-bottom: $gap;
    position: relative;
    tr {

    }
    th {
        font-weight: $fw-bold;
    }
    th,
    td {
        text-align: left;
        padding: $element-spacing $gap;
    }
}

tr[data-function] {
    position: relative;
    td:last-child {
        position: relative;
    }
}

// Summary table, used to display key value pairs evenly across parent
table.summary {
    tr {

    }
    th {

    }
    td {

    }
}

// Zebra striped table rows
table.zebra {
    border-collapse: separate;
    border-spacing: 0;
    margin-right: 40px; // this accomodates the function widget
    tr {
        td {
            border-top: 1px solid $c-white;
            border-bottom: 1px solid $c-white;
            vertical-align: middle;
        }
        &:hover {
            td {
                border-color: $c-table-border;
            }
        }
        &:nth-of-type(odd) {
            td {
                background: $c-table-zebra-odd;
            }
        }
        &:nth-of-type(even) {
            td {
                background: $c-table-zebra-even;
            }
        }
    }
    &.import-table {
        tr {
            &:nth-of-type(odd),
                &:nth-of-type(even) {
                td {
                    background: $c-table-zebra-odd;
                }
            }
            &:nth-of-type(4n+2) {
                td {
                    background: $c-table-zebra-even;
                }
            }
            &:hover {
                td {
                    //border-color: $c-white;
                }
            }
            td.empty {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        td {
            &:nth-of-type(1){
                width: 54px;
            }
            &:nth-of-type(2){
                width: 100px;
            }
            &:nth-of-type(3){
                width: 90px;
            }
            &:nth-of-type(4){
                width: 90px;
            }
            &:nth-of-type(5){
                width: 90px;
            }
            &:nth-of-type(6){
                width: 130px;
            }
            &:nth-of-type(7){
                width: 120px;
            }
            &:nth-of-type(8){
                width: 130px;
            }
        }
    }
    select.form-control {
        width: 100%;
    }
}

.fixed-width {
    table {
        width: 100%;
    }
}

th.price,
td.price {
    width: 64px;
    text-align: right;
}

th.qty,
td.qty {
    width: 35px;
    text-align: center;
}

table.totals {
    float: right;
    width: auto;
    tr {
        &.highlight {
            th,
            td {
                font-weight: $fw-ultra-bold;
            }
        }
    }
    th {
        font-weight: bold;
        text-align: right;
    }
    td {
        text-align: right;
    }
}