
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

//----------------------------
// Typography
//----------------------------

body {
    font-family: $f-stack-lato;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1 {
    font-size: $f-size-h1;
    margin-bottom: $gap;
    padding-bottom: $gap;
    border-bottom: 1px solid $c-lgrey;
}

h2 {
    font-size: $f-size-h2;
    margin-bottom: $gap - $element-spacing / 2;
    &[data-function] {
        display: inline-block;
        position: relative;
        @include myclearfix();
        .function-widget {
            left: 105%;
            top: 50%;
            margin-top: -10px;
        }
    }
}

h3 {
    font-size: $f-size-h3;
    margin-bottom: $gap - $element-spacing / 2;
    font-weight: $fw-bold;
}

h4 {
    font-size: $f-size-h4;
    margin-bottom: $gap - $element-spacing;
    font-weight: $fw-ultra-bold;
}

h5 {
    font-size: $f-size-h5;
    margin-bottom: $gap - $element-spacing;
}

a {
    text-decoration: none;
    color: $c-link;
    &:hover {
        color: $c-link-hover;
        text-decoration: underline;
    }
    &:active {
        color: $c-link-active;
    }
    &:focus {
        color: $c-link-focus;
    }
}

p {
    margin-bottom: 15px;
}

strong {
    font-weight: $fw-bold;
}

.danger {
    color: $c-danger-text;
}

.warning {
    color: $c-warning-text
}

.success {
    color: $c-success-text
}

.notice {
    padding: $element-spacing;
    margin-bottom: $gap;
    p:last-child {
        margin-bottom: 0;
    }
    &.success {
        background: $c-success-background;
        border: 1px solid $c-success-border;
    }
    &.warning {
        background: $c-warning-background;
        border: 1px solid $c-warning-border;
    }
    &.danger {
        background: $c-danger-background;
        border: 1px solid $c-danger-border;
    }
}

button {
    font-family: $f-stack-lato;
}

.form-error {
    padding: 6px 10px;
    background: $c-danger-background;
    border: 1px solid $c-danger-border;
    color: $c-danger-text;
    margin-top: 10px;
    display: block;
}