//--------------------------
// Common style elements
//--------------------------

#codeigniter_profiler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30000;
}

.pre-wrapper {
    position: relative;
    z-index: 2000;
    background: #4C4C4C;
    color: #fff;
    padding: 30px;
    display: inline-block;
    vertical-align: top;
    border-right: 2px solid #fff;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

#performanceChart {
    width: 700px;
    height: 300px;
}

.function-widget {
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 10px;
    width: 76px;
    text-align: left;
    @include transition(opacity 0.2s linear);
    a {
        font-size: 18px;
        color: $c-grey;
        display: inline-block;
        margin-left: 6px;
        &:hover {
            color: $c-button-edit;
            text-decoration: none;
        }
        &[class*="delete"]:hover {
            color: $c-button-negative;
        }
        &[class*="submit"]:hover,
        &[class*="yes"]:hover {
            color: $c-button-positive;
        }
        &[class*="cancel"]:hover,
        &[class*="no"]:hover {
            color: $c-button-negative;
        }
    }
    &.show {
        opacity: 1;
    }
}

.has-widget {
    display: table;
    position: relative;
    .function-widget {
        top: 0;
        left: 105%;
    }
}

#mini-form-container {
    margin-bottom: $gap;
}

.import-form {
    .form-inline {
        margin-bottom: 20px; 
    }
}