//----------------------
// Header navigation
//----------------------

#header-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    height: 32px;
    margin-bottom: 20px;
    padding: $box-spacing $trim;
    color: $c-text-lighter;
    background: $c-black;
    .app-name {
        line-height: 28px;
        font-size: $f-size-xl;
        float: left;
        font-weight: $fw-ultra-bold;
        small {
            font-size: $f-size-xxs;
            margin-left: $element-spacing;
            font-weight: $fw-light;
        }
    }
    form {
        float: right;
    }
    ul {
        float: right;
        margin-left: 10px;
    }
    li {
        line-height: 28px;
        display: inline-block;
        margin-left: $gap;
        a {
            color: $c-text-light;
            font-size: $f-size-l;
            font-weight: $fw-bold;
        }
    }
}


//----------------------
// Sidebar navigation
//----------------------

#sidebar {
    position: fixed;
    top: 52px;
    left: 0;
    bottom: 0;
    padding: $gap;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid $c-panel-border;
    background: $c-panel-background;
    width: 180px;
    li {
        a {
            color: $c-text;
            display: block;
            padding: $gap/2 $gap;
            &:hover {
                background: darken($c-panel-background, 10%);
                text-decoration: none;
            }
        }
    }
    #version {
        position: absolute;
        bottom: $gap;
        left: $gap;
        p {
            color: $c-text-light;
        }
        .contact-link {
            color: $c-text;
            display: block;
            margin: $gap auto;
            font-weight: $fw-bold;
            font-size: $f-size-xl;
            &:hover {
                text-decoration: none;
            }
        }
        .copyright {
            font-size: $f-size-xs;
        }
    }
}


//-----------------------------
// Main content container
//-----------------------------

#main-content {
    position: absolute;
    top: 92px;
    left: 260px;
    right: 40px;
    padding-bottom: 100px;
}

//-----------------------------
// General page layout elements
//-----------------------------

section {
    @include myclearfix();
    padding-bottom: $gap;
    margin-bottom: $gap;
    border-bottom: 1px solid $c-lgrey; 
    & > *:last-child {
        margin-bottom: 0;
    }
    &:last-of-type {
        border-bottom: none;
    }
    &.fixed-width {
        max-width: 944px;
    }
}

.inline-block {
    display: inline-block;
    margin-right: $gap;
    &:last-of-type {
        margin-right: 0;
    }
    vertical-align: top;
}

.block {
    display: block;
}

.float-right {
    float: right;
}

.summary-panel {
    background: $c-panel-background;
    padding: $box-spacing * 2;
    display: inline-block;
    margin-bottom: $gap;
    margin-right: $gap;
    table {
        width: 100%;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
}

#discount-form {
    margin-top: 40px;
}