// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.
// If these are changed, they must also be updated in app.js

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 770px;
$bp-large: 959px;
$bp-xlarge: 1199px;

// =============================================
// Base Values
// =============================================

// Spacing
$gap: 20px;
$trim: 30px;

// Standard padding around box elements such as banner messages, etc
$box-spacing: 10px;

// Standard spacing between elements within a box, such as "Add to cart", "Price box", etc
$element-spacing: 10px;

$padding: 12px !default;        // Consistent padding and margins
$margin: 12px !default;         // Margin below
$global-radius: 5px !default;   // Border-radius
$input-radius: 5px !default;    // input field radius
$box-radius: 5px !default;      // Box-radius
$btn-radius: 5px !default;      // Button border-radius

// =============================================
// Brand Colors
// =============================================

// Usually not used directly in Sass partials.
// Only used to define context-based color vars in this file.

$c-lblue:   #bbd6e8; 
$c-blue:    #337ab7;
$c-dblue:   #2e6da4; 
$c-lgreen:  #dff0d8;
$c-green:   #449d44;
$c-dgreen:  #4cae4c;
$c-lred:    #f2dede;
$c-red:     #E60004;
$c-dred:    #b30003;
$c-lorange: #fcf8e3;
$c-orange:  #f0ad4e;
$c-dorange: #eea236;
$c-black:   #000000;
$c-white:   #ffffff;
$c-xlgrey:  #F4F4F4; 
$c-lgrey:   #ebebeb; 
$c-grey:    #A7A9AB;
$c-dgrey:   #58585B;

// =============================================
// Base Colors
// =============================================

// Text
$c-text: $c-dgrey;
$c-text-light: $c-grey;
$c-text-lighter: $c-lgrey;

// Notifications
$c-danger-text: $c-red;
$c-danger-background: $c-lred;
$c-danger-border: $c-dred;

$c-success-text: $c-green;
$c-success-background: $c-lgreen;
$c-success-border: $c-dgreen;

$c-warning-text: $c-orange;
$c-warning-background: $c-lorange;
$c-warning-border: $c-dorange;

// =============================================
// Element Colors
// =============================================

// Positive Buttons
$c-button-positive: $c-green;
$c-button-positive-hover: $c-dgreen;
$c-button-positive-active: $c-dgreen;
$c-button-positive-text: $c-white;

// Negative Buttons
$c-button-negative: $c-red;
$c-button-negative-hover: $c-dred;
$c-button-negative-active: $c-dred;
$c-button-negative-text: $c-white;

// Edit Buttons
$c-button-edit: $c-orange;
$c-button-edit-hover: $c-dorange;
$c-button-edit-active: $c-dorange;
$c-button-edit-text: $c-white;

// Panels
$c-panel-background: $c-xlgrey;
$c-panel-border: $c-lgrey;

// Forms
$c-input-border: $c-grey;
$c-input-border-focus: $c-dgrey;
$c-input-background: $c-white;

$c-input-placeholder: $c-lgrey;
$c-input-text: $c-text;

// Headings
$c-h1: $c-dgrey;
$c-h2: $c-dgrey;
$c-h3: $c-dgrey;
$c-h4: $c-dgrey;
$c-h5: $c-dgrey;
$c-h6: $c-dgrey;

// Link
$c-link: $c-red;
$c-link-hover: $c-black;
$c-link-focus: $c-black;
$c-link-active: $c-black;

// Table
$c-table-border: $c-grey;

$c-table-zebra-even: $c-xlgrey;
$c-table-zebra-odd: $c-white; 

// =============================================
// Typography
// =============================================

// Font Sizes
$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;

$f-size: 14px;

$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;
$f-size-xxxs: 10px;

$f-size-h1: 32px;
$f-size-h2: 22px;
$f-size-h3: 18px;
$f-size-h4: 16px;
$f-size-h5: 14px;

$base-font-size: $f-size;
$base-line-height: 20px;

$f-stack-lato: 'Lato', Arial, sans-serif !default;
$f-stack-default: Arial, Helvetica, sans-serif !default;

// Font weights when using lato
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
$fw-ultra-bold: 900;

// Waticon variables
$waticon-delete: "\64";
$waticon-view: "\76";
$waticon-add: "\61";
$waticon-edit: "\65";
$waticon-no: "\6e";
$waticon-yes: "\79";
$waticon-cancel: "\6e";
$waticon-submit: "\79";